SECRET_KEY=vouch-restapi-secret-key
PRODUCTION=False

TRANSACTION_RETRIES=5

CRON_INTERVAL=60

MONGO_DATABASE=vouchdb
MONGO_HOST=localhost
MONGO_PORT=27018
MONGO_USERNAME=mongoadmin
MONGO_PASSWORD=vouchmongo 

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=""

PROVIDER1_NAME="Tuum Tech"
PROVIDER1_LOGO_PATH=validator-logos/tuum-tech.png
PROVIDER1_API_KEY=tuumtech
PROVIDER1_VALIDATION_TYPES=email

PROVIDER2_NAME="Starfish Labs"
PROVIDER2_LOGO_PATH=validator-logos/starfish-labs.png
PROVIDER2_API_KEY=starfishlabs
PROVIDER2_VALIDATION_TYPES=email
